<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="A simple API that returns insect data based on search parameters">
    	<meta name="keywords" content="insects, API, insect database, dominican republic insects, dominican spiders">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<title>Insect API</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="#">
	</head>
	<main>
	</main>
	
	<body>
		<header class="container">
			<a href="/">
				<h1>Caribbean Insect DataBase</h1>	
			</a>
		</header>
	
        <section class="container">
			<h2>Search Insect DB</h2>
			<form id="performSearch" action="/api/searchInsect" method="GET">
				<input type="text" id="insectName" name="insectName" value="">
				<button>Get Data</button>
			</form>
		</section>
		
		<section id="description" class="container">
            <h2> Insects </h2>

                <section class="insects">
                    <!-- Loop through quotes -->
                    <% for(var i = 0; i < insects.length; i++) {%>
                        <div class="insect">
							<div class="insectImgs">
								<img class="smImgContainer" src="<%= insects[i].imgPath %>" alt="insectImg">
								<!-- will ebentually hold a corosel of imsect images -->
							</div>
                            <div class="insectData">
								<span><%= 'Common Name: ' + insects[i].commonName %></span>
								<span><%= 'Scientific Name '+ insects[i].sciName %></span>
								<span><%= 'Order: ' + insects[i].order %></span>
								<span><%= 'Avg. Lifespan: ' + insects[i].lifeSpan %></span>
								<span><%= 'Description: ' + insects[i].description %></span>
							</div>
                        </div>
                    <% } %>
                </section>
		</section>

		<section class="container">
			<h2>Add New Insect</h2>
			<form id="newInsect" action="/api/submitNewInsect" enctype="multipart/form-data" name="insectImages" method="POST">
				<input id="insectImg" type="file" name="insectImg">
				<input id="imgName" class="hidden" type="text" placeholder="Description" name="imgName">
				<input id="imgPath" class="hidden" type="text" placeholder="Description" name="imgPath">
				<input id="commonName" type="text" placeholder="Common Name" name="commonName">
				<input id="sciName" type="text" placeholder="Scientific Name" name="sciName">
				<input id="order" type="text" placeholder="Order" name="order">
				<input id="lifeSpan" type="text" placeholder="Approx. Life Span" name="lifeSpan">
				<input id="description" type="text" placeholder="Description" name="description">
				
				<button id="submitInsectData" type="submit">Add Insect</button>
			</form>
		</section>
		
		<script type="module" src="/js/main.js"></script>
	</body>
</html>
